.br {
  width: 400px;
}

.login {
  padding-top: 20vh;
  text-align: center;
  font-size: 40px;
  margin:0 auto;
  &__field {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    &__box {
      height: 20px;
      display: flex;
    }
  }
  &__actions {
    text-align: center;
  }
}
